@using BSNTNext.Application.Dtos.Auth
@model ResetPasswordDto
@{
    ViewData["Title"] = "Reset Password";
}

<h2>Reset Password</h2>

<form asp-controller="Account" asp-action="ResetPassword" method="post">
    @Html.AntiForgeryToken()
    <div asp-validation-summary="All"></div>

    <input type="hidden" asp-for="UserId" />
    <input type="hidden" asp-for="Token" />

    <label asp-for="NewPassword">New Password</label>
    <input asp-for="NewPassword" type="password" />
    <span asp-validation-for="NewPassword"></span>
    <br />
    <label asp-for="ConfirmPassword">Confirm Password</label>
    <input asp-for="ConfirmPassword" type="password" />
    <span asp-validation-for="ConfirmPassword"></span>

    <button type="submit">Reset Password</button>
</form>